
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}
header {
      background:   background: linear-gradient(to right, rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
      padding: 20px;
      color: white;
	  background-image: url("assets/header.avif");
}
nav {
  background: linear-gradient(to right, rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5));
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
  opacity:0.8;

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px;
} 
.book-now-btn {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 0;
    display: flex; 
    justify-content: flex-end;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: opacity;
  text-decoration: green;
  padding: 20px;
  background: White;
  -webkit-background-clip: text;
  -webkit-text-fill-color: solid;
  transition: background-color 0.3s ease;
 
  
}

nav ul li a:hover {
  background-color: White;
  text-decoration:none;
  color: #343a40;
  background-color: #90EE90.;
  border-bottom: 2px solid #c3fae8;
}
}
  .nav-links li a:hover {
    background-color: rgba(0, 0, 0, 0.5); 
}
.book-now {
      background-color: #7ed957;
      color: white;
      padding: 10px 20px;
      border: 1px;
      border-radius: 5px;
      cursor: pointer;
	  justify-content: left;
	  align-items: left;
}

section {
  padding: 50px 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}
